{% include '@Twig/include/header.html.twig' %}
<section id="pricing-page" class="bg-fixed page-hero-section division">
    <div class="container">
        <!-- PAGE HERO TEXT -->
        <div class="row justify-content-center">
            <div class="col-md-10 col-xl-8">
                <div class="hero-txt text-center white--color">
                </div>
            </div>
        </div>
        <!-- BREADCRUMB -->
        <div id="breadcrumb">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <div class="breadcrumb-nav">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>	<!-- END BREADCRUMB -->
    </div>	   <!-- End container -->
</section>
{% include '@Twig/include/price.html.twig' %}


{% include '@Twig/include/footer.html.twig' %}