
{{ dump(items) }}

{% if items is defined  %}



{% endif %}

<!-- PRICING-3
    ============================================= -->
<section id="pricing-3" class="wide-90 pricing-section division">
    <div class="container">
        <!-- PRICING-3 WRAPPER -->
        <div class="pricing-3-wrapper">
            <div class="row">
                <!-- PRICING-3 TABLE -->
                <div class="col-lg-6">
                    <div class="pricing-3-table pr-25 wow fadeInUp">
                                                <!-- PRICING LIST -->
                        <ul class="pricing-3-list">
                            <!-- PRICING ITEM #1 -->
                            <li class="pricing-3-item">

                                <!-- Title & Price -->
                                <div class="detail-price">
                                    <div class="price-name"><h5 class="h5-lg">Classic Manicure</h5></div>
                                    <div class="price-dots"></div>
                                    <div class="price-number"><h5 class="h5-lg">$19</h5></div>
                                </div>

                                <!-- Description -->
                                <div class="price-txt">
                                    <p class="p-md"><em>Service length 25 minutes</em></p>
                                </div>
                            </li>

                            <!-- MENU ITEM #2 -->
                            <li class="pricing-3-item">

                                <!-- Title & Price -->
                                <div class="detail-price">
                                    <div class="price-name"><h5 class="h5-lg">Spa Manicure</h5></div>
                                    <div class="price-dots"></div>
                                    <div class="price-number"><h5 class="h5-lg">$30</h5></div>
                                </div>

                                <!-- Description -->
                                <div class="price-txt">
                                    <p class="p-md"><em>Service length 35 minutes</em></p>
                                </div>

                            </li>

                            <!-- MENU ITEM #3 -->
                            <li class="pricing-3-item">

                                <!-- Title & Price -->
                                <div class="detail-price">
                                    <div class="price-name"><h5 class="h5-lg">Aloe Vera Manicure</h5></div>
                                    <div class="price-dots"></div>
                                    <div class="price-number"><h5 class="h5-lg">$48</h5></div>
                                </div>

                                <!-- Description -->
                                <div class="price-txt">
                                    <p class="p-md"><em>Service length 45 minutes</em></p>
                                </div>
                            </li>

                            <!-- MENU ITEM #4 -->
                            <li class="pricing-3-item">

                                <!-- Title & Price -->
                                <div class="detail-price">
                                    <div class="price-name"><h5 class="h5-lg">Gel Manicure</h5></div>
                                    <div class="price-dots"></div>
                                    <div class="price-number"><h5 class="h5-lg">$35</h5></div>
                                </div>

                                <!-- Description -->
                                <div class="price-txt">
                                    <p class="p-md"><em>Service length 40 minutes</em></p>
                                </div>
                            </li>

                            <!-- MENU ITEM #5 -->
                            <li class="pricing-3-item resp-lst">

                                <!-- Title & Price -->
                                <div class="detail-price">
                                    <div class="price-name"><h5 class="h5-lg">Signature Gel Manicure</h5></div>
                                    <div class="price-dots"></div>
                                    <div class="price-number"><h5 class="h5-lg">$50</h5></div>
                                </div>

                                <!-- Description -->
                                <div class="price-txt">
                                    <p class="p-md"><em>Service length 40 minutes</em></p>
                                </div>

                            </li>

                        </ul>    <!-- END PRICING LIST -->

                    </div>
                </div>    <!-- END PRICING-3 TABLE -->


                <!-- PRICING-3 TABLE -->
                <div class="col-lg-6">
                    <div class="pricing-3-table pl-25 wow fadeInUp">

                        <!-- PRICING LIST -->
                        <ul class="pricing-3-list">


                            <!-- PRICING ITEM #1 -->
                            <li class="pricing-3-item">

                                <!-- Title & Price -->
                                <div class="detail-price">
                                    <div class="price-name"><h5 class="h5-lg">Classic Pedicure</h5></div>
                                    <div class="price-dots"></div>
                                    <div class="price-number"><h5 class="h5-lg">$32</h5></div>
                                </div>

                                <!-- Description -->
                                <div class="price-txt">
                                    <p class="p-md"><em>Service length 40 minutes</em></p>
                                </div>

                            </li>

                            <!-- MENU ITEM #2 -->
                            <li class="pricing-3-item">

                                <!-- Title & Price -->
                                <div class="detail-price">
                                    <div class="price-name"><h5 class="h5-lg">Spa Pedicure</h5></div>
                                    <div class="price-dots"></div>
                                    <div class="price-number"><h5 class="h5-lg">$37</h5></div>
                                </div>

                                <!-- Description -->
                                <div class="price-txt">
                                    <p class="p-md"><em>Service length 50 minutes</em></p>
                                </div>
                            </li>

                            <!-- MENU ITEM #3 -->
                            <li class="pricing-3-item">

                                <!-- Title & Price -->
                                <div class="detail-price">
                                    <div class="price-name"><h5 class="h5-lg">TC Signature Pedicure</h5></div>
                                    <div class="price-dots"></div>
                                    <div class="price-number"><h5 class="h5-lg">$44</h5></div>
                                </div>

                                <!-- Description -->
                                <div class="price-txt">
                                    <p class="p-md"><em>Service length 40 minutes</em></p>
                                </div>

                            </li>


                            <!-- MENU ITEM #4 -->
                            <li class="pricing-3-item">

                                <!-- Title & Price -->
                                <div class="detail-price">
                                    <div class="price-name"><h5 class="h5-lg">Gel Pedicure</h5></div>
                                    <div class="price-dots"></div>
                                    <div class="price-number"><h5 class="h5-lg">$42</h5></div>
                                </div>

                                <!-- Description -->
                                <div class="price-txt">
                                    <p class="p-md"><em>Service length 40 minutes</em></p>
                                </div>

                            </li>

                            <!-- MENU ITEM #5 -->
                            <li class="pricing-3-item resp-lst">

                                <!-- Title & Price -->
                                <div class="detail-price">
                                    <div class="price-name"><h5 class="h5-lg">DeLuxe Gel Pedicure</h5></div>
                                    <div class="price-dots"></div>
                                    <div class="price-number"><h5 class="h5-lg">$84</h5></div>
                                </div>

                                <!-- Description -->
                                <div class="price-txt">
                                    <p class="p-md"><em>Service length 60 minutes</em></p>
                                </div>

                            </li>

                        </ul>    <!-- END PRICING LIST -->

                    </div>
                </div>    <!-- END PRICING-3 TABLE -->


            </div>      <!-- End row -->
        </div>    <!-- END PRICING-3 WRAPPER -->

        <!-- BUTTON -->
        <div class="row">
            <div class="col">
                <div class="more-btn mt-50">
                    <p class="tra-link"><a href="pricing.html">View All Prices</a></p>
                </div>
            </div>
        </div>    <!-- END BUTTON -->

    </div>     <!-- End container -->
</section>
<!-- END PRICING-3 -->